# Google Cloud Config
PROJECT_ID=prj-pe-p-dsml
REGION=global
GCS_BUCKET_NAME=pe-genflow-ad-studio-veo-output

# Model IDs
VEO_MODEL_ID=veo-3.1-lite-generate-001
GEMINI_MODEL=gemini-3.1-pro-preview
IMAGE_MODEL=gemini-3-pro-image-preview
